<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Portal</title>
</head>
<body>
    <h1>Offensive Security Engineer</h1>
    <h2><a href="/login">Apply</a></h2></br>

    <h3> Who We Are:</h3> 
    <p> In today’s work environment, employees use a myriad of devices to access IT applications and data over multiple networks to stay productive, wherever and however they work. XYZ elevates and secures Everywhere Work so that people and organizations can thrive.
        While our headquarters is in the U.S., half of our employees and customers are outside the country. We have 36 offices in 23 nations, with significant offices in London, Frankfurt, Paris, Sydney, Shanghai, Singapore, and other major cities around the world.
        XYZ's mission is to be a global technology leader enabling organizations to elevate Everywhere Work, automating tasks that discover, manage, secure, and service all their IT assets. Through diverse and inclusive hiring, decision-making, and commitment to our employees and partners, we will continue to build and deliver world-class solutions for our customers. </p>

    <h3>What You Will Be Doing:</h3>
    <p> Define clear policies and procedures for the responsible disclosure process, including guidelines for researchers, internal stakeholders, and third-party vendors.
        Establish and maintain communication channels with the security research community to promote awareness of the responsible disclosure program and encourage participation.
        Receive and triage vulnerability reports submitted by external researchers through various channels, such as email, web form, or bug bounty platform.
        Collaborate with internal security teams to assess the severity and impact of reported vulnerabilities and prioritize them for resolution based on risk.
        Facilitate communication and collaboration between researchers and relevant stakeholders, including development teams, IT operations, and product managers, to ensure timely resolution of identified security issues.
        Track the progress of vulnerability remediation efforts and ensure that issues are addressed within agreed-upon timelines.
        Maintain detailed records of vulnerability reports, assessments, and resolutions to support compliance requirements and internal reporting.
        Develop and maintain metrics to measure the effectiveness of the responsible disclosure program, including response times, resolution rates, and researcher satisfaction.
        Monitor industry best practices and emerging trends in responsible disclosure and vulnerability management to identify opportunities for program enhancement and optimization.
        Perform penetration tests and vulnerability assessments of applications, network and systems using various tools and techniques to exploit identified vulnerabilities and assess the effectiveness of existing security measures.
        Stay abreast of the latest security threats, trends, and technologies through continuous learning and research to enhance penetration testing methodologies and techniques.</p>

    <h3>To Be Successful in The Role, You Will Have:</h3>
    <p> 2-5 years of experience in cybersecurity, with a focus on penetration testing and vulnerability assessment.
        Responsible Disclosure Program (VDP) and Bugbounty program management
        CEH, Offensive Security Certified Professional (OSCP), or other relevant certifications.
        Strong understanding of networking protocols, operating systems, and web applications.
        Proficiency in using penetration testing tools such as Metasploit, Nmap, Burp Suite, etc.
        Knowledge of common cybersecurity threats and attack vectors.
        Excellent analytical and problem-solving skills.
        Effective communication skills for writing detailed reports and presenting findings to stakeholders</p>
</body>
</html>
