  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    <div class="login-container">
      <form id="login-form" method="post"> <!-- Specify method="post" -->
        <h2>Login</h2>
        {% if error %}
        <div class="error-message">{{ error }}</div> <!-- Display error message -->
        {% endif %}
        <div class="input-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
          <div id="username-error" class="error"></div> <!-- Display username error -->
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          <div id="password-error" class="error"></div> <!-- Display password error -->
        </div>
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account? <a href="/register">Sign up here</a></p> <!-- Update the link -->
    </div>

    <!-- <script src="/Static/script.js"></script> Link to your JavaScript file for interactivity -->
  </body>
  </html>
